@keyframes rotation {
    from {transform: rotate(0);}
    to {transform: rotate(360);}
}

.Icon {
    font-size: 7em;
    cursor: pointer;
    animation-name: rotation;
    animation-duration: 4s;
}

.IconScrolled {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 5em;
}

.title {
    text-align: center;
}