@keyframes firstAppearance {
    0% {opacity: 0;}
    5% {opacity: .15;}
    10% {opacity: .30;}
    15% {opacity: .05;}
    20% {opacity: .35;}
    25% {opacity: 0;}
    30% {opacity: .40;}
    55% {opacity: .80;}
    60% {opacity: .15;}
    65% {opacity: .75;}
    70% {opacity: .15;}
    80% {opacity: .85;}
    90% {opacity: .90;}
    100% {opacity: 1;}
}

@-moz-keyframes firstAppearance {
    0% {opacity: 0;}
    5% {opacity: .15;}
    10% {opacity: .30;}
    15% {opacity: .05;}
    20% {opacity: .35;}
    25% {opacity: 0;}
    30% {opacity: .40;}
    55% {opacity: .80;}
    60% {opacity: .15;}
    65% {opacity: .75;}
    70% {opacity: .15;}
    80% {opacity: .85;}
    90% {opacity: .90;}
    100% {opacity: 1;}
}

@-webkit-keyframes firstAppearance {
    0% {opacity: 0;}
    5% {opacity: .15;}
    10% {opacity: .30;}
    15% {opacity: .05;}
    20% {opacity: .35;}
    25% {opacity: 0;}
    30% {opacity: .40;}
    55% {opacity: .80;}
    60% {opacity: .15;}
    65% {opacity: .75;}
    70% {opacity: .15;}
    80% {opacity: .85;}
    90% {opacity: .90;}
    100% {opacity: 1;}
}

.MainDisplay {
    animation-name: firstAppearance;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}
